<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>PPA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://gymkhana.iitb.ac.in/~ugacademics/ppa/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="http://shodh.ircc.iitb.ac.in/ppa/login/" class="logo">Project Allocation Portal</a>
					<nav id="nav">
						<a href="/ppa/login/">Home</a>
						<a href="#one">PPA</a>
						<a href="#footer">Contact Us</a>
						{% if request.session.user_type is 'student' %}
							<a href="/ppa/student/">Login</a>
						{% endif %}
						<a href="/ppa/login/">Login</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1 align="center">PPA : PORTAL for PROJECT ALLOCATION  <br/></h1>
					<h2 class="pull-right">-by ENPOWER</h2>
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="inner" align="center">
					<header>
						<h2 >Projects</h2>
					</header>
					<p>We have brought Professors and Students together across all departments to promote the culture of Research in
					institue.</p>
					<ul class="actions">
						<li><a href="#" class="button alt">Learn More</a></li>
					</ul>
				</div>
			</section>

		<!-- Two -->
			<section id="two">
				<div class="inner" >
					<article>
						<div class="content">
							<header>
								<h3>Professors</h3>
							</header>
							<div class="image fit">
								<img src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/prof.jpg" alt="" />
							</div>
							<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h3>Students</h3>
							</header>
							<div class="image fit">
								<img src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/students.jpg" alt="" />
							</div>
							<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
						</div>
					</article>
				</div>
			</section>

		<!-- Three -->

		<!-- Footer -->
			<section id="footer">
				<div  align="center">
					<header>
						<h2>At Your Service</h2>
					</header>
					<hr>
                        <img src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/sahil.jpg" style="border-radius:120px;" height="300px" width="250px" >
                        <h4>Sahil Bhargava</h4>
					<p class="text-muted">Institute Secretary Academic Affairs<br>97616-62354</p>

					<a target="_blank"  href="https://www.facebook.com/sahil.bhargava.71"><img src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/fb.png" height="40px"></a>



                    </div>
                </div>
                </div>
			</section>
		<section id="three">
				<div class="inner" align="center">
					<article>
						<div class="content">
							<img  src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/anusha.jpg" style="border-radius:360px;" height="250px" width="250px">
							<header>
								<h3>Anusha Dubey</h3>
								<a target="_blank"  href="https://www.facebook.com/anusha.dubey.9887"><img src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/fb.png" height="40px"></a>
							</header>

						</div>
					</article>
					<article>
						<div class="content">
							 <img  src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/nitish.jpg" style="border-radius:360px;" height="250px" width="250px">
							<header>
								<h3>Nitish Joshi</h3>
								<a target="_blank"  href="https://www.facebook.com/nitish.joshi.3367"><img src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/fb.png" height="40px"></a>

							</header>
						</div>
					</article>
					<article>
					<div class="content">
							 <img  src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/lavish.jpg" style="border-radius:360px;" height="250px" width="250px">
							<header>
								<h3>Lavish Pankaj</h3>
								<a target="_blank"  href="https://www.facebook.com/lavish.pankaj.5"><img src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/fb.png" height="40px"></a>
							</header>
						</div>
					</article>
					<article>
					<div class="content">
							<img  src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/pujan2.jpg"  style="border-radius:360px;" height="250px" width="250px">
							<header>
								<h3>Pujan Biswas</h3>
								<a target="_blank"  href="https://www.facebook.com/pujanbiswasisthename"><img src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/images/fb.png" height="40px"></a>
							</header>
						</div>
					</article>
				</div>
			</section>


		<!-- Scripts -->
			<script src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/assets/js/jquery.min.js"></script>
			<script src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/assets/js/skel.min.js"></script>
			<script src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/assets/js/util.js"></script>
			<script src="https://gymkhana.iitb.ac.in/~ugacademics/ppa/assets/js/main.js"></script>

	</body>
</html>